<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href = "/css/style.css">
    

  </head>